body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff; /* Fondo blanco */
  color: #333; /* Texto oscuro */
}

header {
  width: 100%;
  display: flex; /* Utilizar Flexbox */
  justify-content: space-around; /* Espacio entre los elementos */
  align-items: center; /* Alinear verticalmente */
  background-color: #f8f8f8;
  padding: 14px;
  border-bottom: 1px solid #ccc;
}

#scene-selector-container {
  display: flex; /* Utilizar Flexbox */
  align-items: center; /* Alinear verticalmente */
  flex-grow: 1; /* Permitir que el selector de escena ocupe el espacio restante */
  max-width: 30%; /* Limitar el ancho máximo del selector de escena */
  margin-left: 20px; /* Espacio a la izquierda */
}

#scene-selector-container label {
  margin-right: 10px; /* Espacio a la derecha del label */
}

#theme-btn {
  padding: 10px 20px; /* Espacio interno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer;
  background-color: #fff; /* Fondo del botón */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Borde redondeado */
  transition: background-color 0.3s; /* Transición */
}

#theme-btn:hover {
  background-color: #6e6e6e; /* Fondo al pasar el ratón */
}

body.dark-theme {
  background-color: #333; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
}

body.dark-theme header {
  background-color: #222; /* Fondo header oscuro */
}

#main-container {
  display: flex;
  width: 100%;
}

#video-container {
  flex: 0.65;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scene-video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#script-container {
  width: 35%;
  flex: 0.35;
  border-left: 1px solid #ccc;
  padding: 20px;
}

#transport-controls {
  display: flex; /* Usar Flexbox */
  justify-content: flex-start; /* Alinear elementos a la izquierda */
  align-items: center;
  background-color: #a0a0a0;
  padding: 10px;
  border-radius: 3px;
  margin: 10px;
  gap: 10px;
}

#time-code {
  margin-right: 15px; /* Separación entre contador y botones */
  font-family: monospace; /* Fuente para un aspecto técnico */
  font-size: 30px;
  color: #fff;
}

.control-btn {
  width: 44px;
  height: 44px;
  background-color: #a0a0a0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px; /* Espacio entre los botones */
  padding: 10px; /* Espacio interno */
  border: 5px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.control-btn:hover {
  background-color: #6e6e6e;
}

.play-btn i{
  color: #0f0;
  font-size: 20px;
}

.pause-btn i {
  color: #0469c1; /* Azul */
}

.stop-btn i{
  color: #333;
  font-size: 22px;
}

.record-btn i{
  color: #f00;
}

.recording i{
  color: black;
}

h1, h2 {
  margin: 0;
}
